##### Last update: april 03 2023

# Bike Share Project - Data Cleaning

In this document the data is colected, cleaned and transformed for analysis.

# Table of Contents

1. [Imports](#imports)
2. [Data Overview](#overview)
3. [Data Cleaning](#cleaning)
    * [Column re-naming](#renaming)
    * [Missing Data](#missing)
    * [Data Validation](#validation)
4. [Feature Engineering](#feature)
    * [Date](#date)
    * [Duration](#duration)
    * [Day of Week](#dow)
    * [Distance Travelled](#distance)
    * [Speed](#speed)
5. [Outliers](#outliers)
    * [Duration, speed and distance](#dynamics)
    * [Start Station Coordinates](#start_coords)
    * [End Station Coordinates](#end_coords)
6. [Verification](#verification)

# Imports <a name="imports"></a>

The usual libraries

In [1]:
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

# Data Overview <a name="overview"></a>

The data is stored in 12 datasets, each one concerning each of the previous 12 months from the date when this study was performed (March 2023). These contain in combination information for almost 6 million bike rides made between March 01 2022 and February 28 2023, which can be found [here](https://divvy-tripdata.s3.amazonaws.com/index.html). 

Every dataset has the same structure, with each row being a bike ride and having the following fields:

* **trip_id**: a unique identifier for each ride made with one of the bikes.
* **rideable_type**: the type of bike that was used. The types of bikes are electric, classic and docked.
* **started_at, ended_at**: the time and date the ride started/ended. 
* **start_station_name, end_station_name**: the name of the station where the trip started/ended.
* **start_station_id, end_station_id**: the code that identifies the station where the trip started/ended. 
* **start_lat, start_lng, end_lat, end_lng**: the coordinates for the station where the trip started/ended.
* **member_casual**: the type of user, casual or member.

To simplify the cleaning process, all 12 datasets are merged into a single, large dataframe.

In [2]:
import glob

# collect all file names
csv_files = glob.glob("../data/*.csv")

# read each of them into a pd.DataFrame and put them into a list
df_list = [pd.read_csv(file) for file in csv_files]

# concatenate all dataframes, to get a single, large
# dataframe with all year's data
all_data = pd.concat(df_list, ignore_index=True)

And a copy of it is made to avoid having to load and merge all files again if something happens.

In [3]:
rides = all_data.copy()

`rides` is our complete datafrme. The following shows the structure of the data.

In [4]:
rides.sample(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
576672,7CA9C623CD371CF1,electric_bike,2022-04-24 20:31:59,2022-04-24 21:43:36,Wabash Ave & Grand Ave,TA1307000117,NaN,NaN,41.891496,-87.626718,41.890000,-87.630000,member
2764717,DF271F947F3399A6,classic_bike,2022-07-27 06:54:13,2022-07-27 07:01:58,Clark St & Elm St,TA1307000039,Clark St & Lake St,KA1503000012,41.902973,-87.631280,41.886021,-87.630876,casual
3720423,CBA22642B94927E3,classic_bike,2022-09-08 16:30:08,2022-09-08 16:33:51,Halsted St & Willow St,TA1307000166,Bissell St & Armitage Ave*,chargingstx1,41.913865,-87.648755,41.918296,-87.652183,member

As mentioned above, there are almost 6 million rows of data, with 13 columns containing information about the type of bike and user as well as the time and location where each trip started and ended. As can be seen below, there are some errors regarding the data types. Specifically, the dates and times are stored as string type.

In [5]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5829084 entries, 0 to 5829083
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 578.1+ MB

The only numeric fields are those for the coordinates, for which the statistical summaries are not too useful. It is worth noting, though, that there are some inconsistencies within the end station coordinates, showing latitudes and longitudes going all the way to 0°. If this was correct then there would have been bikes stationed within an area of almost 1/16th of the surface of the Earth. Who would have thought Chicago was so big?

In [6]:
rides.describe()

          start_lat     start_lng       end_lat       end_lng
count  5.829084e+06  5.829084e+06  5.823146e+06  5.823146e+06
mean   4.190217e+01 -8.764779e+01  4.190237e+01 -8.764786e+01
std    4.626503e-02  2.927663e-02  6.757085e-02  1.068591e-01
min    4.164000e+01 -8.784000e+01  0.000000e+00 -8.814000e+01
25%    4.188103e+01 -8.766150e+01  4.188103e+01 -8.766201e+01
50%    4.190000e+01 -8.764411e+01  4.190000e+01 -8.764414e+01
75%    4.193000e+01 -8.762963e+01  4.193000e+01 -8.762963e+01
max    4.207000e+01 -8.752000e+01  4.237000e+01  0.000000e+00

Finaly, the result below shows the number of duplicated rows. We can see there aren't any: each row has an unique ride id, which means it is a unique bike trip.

In [7]:
rides.duplicated(subset=["ride_id"]).sum()

0

# Data Cleaning <a name="cleaning"></a>

## Column re-naming <a name="renaming"></a>

The column names can be changed into shorter and more intuitive ones

In [8]:
rides.rename(
    columns={
        "ride_id": "trip_id",
        "rideable_type": "bike_type",
        "started_at": "start_time",
        "ended_at": "end_time",
        "start_station_name": "start_name",
        "start_station_id": "start_id",
        "end_station_name": "end_name",
        "end_station_id": "end_id",
        "member_casual": "usertype",
    },
    inplace=True,
)

## Missing Data <a name="missing"></a>

There are values missing from some fields. The following table represents what percentage of data is missing from each field. 
There is a considerable proportion of start/end station names and id's missing and only a small amount of latitud/longitude data missing.

In [9]:
# isna returns a df of the same shape as rides with boolean values for
# whether the values are NA. The mean for each column is the proportion
# of missing data for the column, and multiplied by 100 gives the %.

rides.isna().mean().mul(100).rename("% of missing data").rename_axis("Field").to_frame()

            % of missing data
Field
trip_id              0.000000
bike_type            0.000000
start_time           0.000000
end_time             0.000000
start_name          14.589222
start_id            14.591486
end_name            15.594869
end_id              15.597288
start_lat            0.000000
start_lng            0.000000
end_lat              0.101868
end_lng              0.101868
usertype             0.000000

The missing station names and id's can be explained with the fact that e-bikes don't need to be docked at stations, they can be locked at public bike racks, light poles, signposts, etc. 
The following table shows the number of rows with missing station names or ids by bike type, and confirms this is the case for most of the rides with missing names and id's.

In [10]:
# create a filter for the relevant fields
cols = ["bike_type", "start_name", "start_id", "end_name", "end_id"]

# filter the data and group by bike type
missing = rides[cols].groupby("bike_type")

# count the number of rows with missing values and format table
missing.apply(lambda x: x.isnull().any(axis=1).sum()).rename(
    "Rows with missing values"
).to_frame()

               Rows with missing values
bike_type
classic_bike                       3521
docked_bike                        2681
electric_bike                   1324984

There are a few trips that were made with classic and docked bikes that started or ended at no specified station. We can safely discard those since they account for a really small percentage of the total trips (0.11%). As for the trips made with e-bikes that were parked at no specific station, we can state they were parked at "No station", with id "99999".

In [11]:
# create a filter for electric bikes
mask = rides["bike_type"] == "electric_bike"

# change stations missing names to "No stations"
for col in ["start_name", "end_name"]:
    rides.loc[mask & (rides[col].isna()), col] = "No station"

# change stations missing ids to "99999"
for col in ["start_id", "end_id"]:
    rides.loc[mask & (rides[col].isna()), col] = "99999"

This reduces the rows with missing data to the following

In [12]:
print("% of missing data: ", rides.isnull().any(axis=1).sum() / len(rides) * 100)

% of missing data:  0.10639750602324481

This is such a small percentage of the data that it can be safely removed, after which we are left with 0 missing values:

In [223]:
rides_complete = rides.dropna().copy()
print("Num. of missing values:", rides_complete.isnull().sum().sum())

Num. of missing values: 0

## Data Validation <a name="validation"></a>

There are supposed to be around 600 stations in total, 3 types of bikes (docked, classic and e-bikes) and 2 types of users (casual and members). The following table shows that, according to the data, this is not the case for the station names and ids. Even the ratio of station names to ids, which should always be one to one, is inconsistent. There are also some issues with the coordinates, but those will be addressed later on.

In [224]:
rides_complete[
    ["bike_type", "usertype", "start_name", "start_id", "end_name", "end_id"]
].nunique().to_frame()

               0
bike_type      3
usertype       2
start_name  1693
start_id    1315
end_name    1716
end_id      1319

As seen above, there are a lot more stations names and id's than should be. Some tests for the consistency of station names and ids are then needed; The following function will test if a name or id relates to multiple id's or names. It is performed only on a sample of the data since it is very time consuming to run it on larger scale.

In [225]:
def not_unique(field1, field2, frac):
    """This function takes in 2 column names, field1 and field2, as well
    as the fraction, frac, of the dataframe that will be processed, and 
    returns a dictionary with the field1 values that refer to multiple
    unique values for field2, as well as the corresponding list of field2
    values."""
    
    id_names = {}
    
    # Get a random subset of the dataframe to process based on the given fraction
    subset = rides_complete.sample(frac=frac, random_state=25)
    
    # Find field1 values that map to multiple unique field2 values
    condition = subset.groupby(field1)[field2].nunique() > 1
    keys = subset.groupby(field1)[field1].unique()[condition]
    keys = [elem.tolist()[0] for elem in keys.values] # convert to list
    
    # fill in the dictionary
    for key in keys:
        id_names[key] = [*subset[subset[field1]==key][field2].unique()]
        
    return id_names

The next two blocks of code show the number of id's that refer to two or more station names within a sample of 10% of the data, as well as the names of the stations for each of these id's.

In [226]:
repeated_ids = not_unique("start_id", "start_name", 0.1)
len(repeated_ids)

175

In [227]:
repeated_ids

{'13053': ['Green St & Randolph St', 'Green St & Washington Blvd'],
 '13059': ['Sheridan Rd & Argyle St', 'Bissell St & Armitage Ave'],
 '13074': ['Broadway & Wilson - Truman College Vaccination Site',
  'Broadway & Wilson Ave'],
 '13197': ['Elizabeth (May) St & Fulton St', 'Elizabeth St & Fulton St'],
 '15541': ['Buckingham Fountain', 'Buckingham Fountain (Temp)'],
 '15623': ['Campbell Ave & Montrose Ave',
  'Campbell Ave & Montrose Ave (Temp)'],
 '303': ['Public Rack - Kildare Ave & Division St',
  'Kildare Ave & Division St'],
 '390': ['California Ave & Marquette Rd',
  'Public Rack - California Ave & Marquette Rd'],
 '479': ['California Ave & Touhy Ave - NW',
  'Public Rack - California Ave & Touhy Ave - NW'],
 '480': ['Public Rack - Rockwell Ave & Touhy Ave ',
  'Rockwell Ave & Touhy Ave '],
 '482': ['Public Rack - Chase Ave & Touhy Ave - NE',
  'Chase Ave & Touhy Ave - NE'],
 '483': ['Public Rack - Western Ave & Jarvis Ave', 'Western Ave & Jarvis Ave'],
 '484': ['Public Rack - Sacramento Ave & Greenleaf Ave',
  'Sacramento Ave & Greenleaf Ave'],
 '485': ['Public Rack - Sacramento Ave & Devon Ave',
  'Sacramento Ave & Devon Ave'],
 '486': ['Public Rack - California Ave & Devon Ave - NW',
  'California Ave & Devon Ave - NW'],
 '487': ['Public Rack - California Ave & Devon Ave - NE',
  'California Ave & Devon Ave - NE'],
 '489': ['Public Rack - Spaulding Ave & Bryn Mawr Ave',
  'Spaulding Ave & Bryn Mawr Ave'],
 '491': ['Public Rack - Kedzie Ave & Argyle St', 'Kedzie Ave & Argyle St'],
 '492': ['Public Rack - Hamlin Ave & Montrose Ave',
  'Hamlin Ave & Montrose Ave'],
 '494': ['Avers Ave & Irving Park Rd',
  'Public Rack - Avers Ave & Irving Park Rd'],
 '495': ['Public Rack - Keystone Ave & Irving Park Rd',
  'Keystone Ave & Irving Park Rd'],
 '497': ['Public Rack - Lowell Ave & Elston Ave', 'Lowell Ave & Elston Ave'],
 '499': ['Christiana Ave & Belmont Ave',
  'Public Rack - Christiana Ave & Belmont Ave'],
 '500': ['Public Rack - Monticello Ave & Belmont Ave',
  'Monticello Ave & Belmont Ave'],
 '501': ['Public Rack - Milwaukee Ave & School St',
  'Milwaukee Ave & School St'],
 '502': ['Public Rack - Milwaukee Ave & Addison St',
  'Milwaukee Ave & Addison St'],
 '503': ['Public Rack - Jonathan Y Scammon Public School',
  'Jonathan Y Scammon Public School'],
 '504': ['Public Rack - Milwaukee Ave & Diversey Ave',
  'Milwaukee Ave & Diversey Ave'],
 '505': ['Public Rack - Milwaukee Ave & Haussen Ct',
  'Milwaukee Ave & Haussen Ct'],
 '506': ['Lawndale Ave & Diversey Ave',
  'Public Rack - Lawndale Ave & Diversey Ave'],
 '507': ['Public Rack - Hamlin Ave & Fullerton Ave',
  'Hamlin Ave & Fullerton Ave'],
 '508': ['Public Rack - Pulaski Rd & Fullerton Ave',
  'Pulaski Rd & Fullerton Ave'],
 '509': ['Public Rack - Mozart Elementary School', 'Mozart Elementary School'],
 '510': ['Public Rack - Spaulding Ave & North Ave',
  'Spaulding Ave & North Ave'],
 '512': ['Public Rack - California Ave & Cortez St',
  'California Ave & Cortez St'],
 '513': ['Public Rack - Spaulding Ave & Evergreen Ave',
  'Spaulding Ave & Evergreen Ave'],
 '514': ['Public Rack - Hamlin Ave & Grand Ave',
  'Ridge Blvd & Howard St',
  'Hamlin Ave & Grand Ave'],
 '515': ['Paulina St & Howard St', 'Public Rack - Hamlin Ave & Chicago Ave'],
 '516': ['Public Rack - Kenton Ave & Palmer St', 'Kenton Ave & Palmer St'],
 '517': ['Clark St & Jarvis Ave',
  'Public Rack - Pulaski Rd & Armitage Ave',
  'Pulaski Rd & Armitage Ave'],
 '518': ['Keystone Ave & North Ave',
  'Conservatory Dr & Lake St',
  'Public Rack - Keystone Ave & North Ave'],
 '519': ['Wolcott Ave & Fargo Ave', 'Public Rack - Kostner Ave & North Ave'],
 '520': ['Greenview Ave & Jarvis Ave',
  'Public Rack - Karlov Ave & Kamerling Ave',
  'Karlov Ave & Kamerling Ave'],
 '523': ['Eastlake Ter & Rogers Ave',
  'Eastlake Ter & Howard St',
  'Public Rack - Pulaski Rd & Roosevelt Rd'],
 '524': ['Central Park Ave & Fillmore St',
  'Public Rack - Central Park Ave & Fillmore St'],
 '527': ['Public Rack - Roswell B. Mason Elementary School',
  'Western Ave & Howard St'],
 '534': ['Karlov Ave & Madison St',
  'Public Rack - California Ave & Ogden Ave'],
 '539': ['Eli Whitney Public School',
  'Public Rack - Eli Whitney Public School'],
 '540': ['Laramie Ave & Madison St', 'Public Rack - Whipple St & 26th St'],
 '543': ['Laramie Ave & Gladys Ave',
  'Cicero Ave & Roscoe St',
  'Public Rack - Cicero Ave & Roscoe St'],
 '544': ['Public Rack - Laramie Ave & Belmont Ave',
  'Laramie Ave & Belmont Ave'],
 '545': ['Kostner Ave & Adams St', 'Public Rack - Linder Ave & Belmont Ave'],
 '546': ['Damen Ave & Pershing Rd',
  'Cicero Ave & Wellington Ave',
  'Public Rack - Cicero Ave & Wellington Ave'],
 '547': ['Public Rack - Cicero Ave & Wrightwood Ave',
  'Cicero Ave & Wrightwood Ave'],
 '548': ['Public Rack - Cicero Ave & Altgeld St', 'Cicero Ave & Altgeld St'],
 '549': ['Public Rack - Laramie Ave & Fullerton Ave',
  'Marshfield Ave & 44th St',
  'Laramie Ave & Fullerton Ave'],
 '550': ['Public Rack - Laramie Ave & Grand Ave', 'Laramie Ave & Grand Ave'],
 '551': ['Public Rack - Cicero Ave & North Ave', 'Cicero Ave & North Ave'],
 '553': ['Elizabeth St & 47th St',
  'Public Rack - Lorel Ave & Chicago Ave',
  'Lorel Ave & Chicago Ave'],
 '554': ['Damen Ave & 51st St',
  'Public Rack - Cicero Ave & Le Moyne St - midblock'],
 '559': ['Racine Ave & Garfield Blvd',
  'Public Rack - Menard Ave & Dakin St - midblock',
  'Menard Ave & Dakin St - midblock'],
 '560': ['Public Rack - Austin Ave & Roscoe St', 'Marshfield Ave & 59th St'],
 '561': ['Damen Ave & 59th St', 'Public Rack - Melvina Ave & Belmont Ave'],
 '562': ['Racine Ave & 61st St',
  'Menard Ave & Belmont Ave',
  'Public Rack - Menard Ave & Belmont Ave'],
 '565': ['Public Rack - Austin Ave & Wrightwood Ave',
  'Austin Ave & Wrightwood Ave'],
 '566': ['Public Rack - Narragansett Ave & Fullerton Ave',
  'Narragansett Ave & Fullerton Ave'],
 '567': ['May St & 69th St',
  'Harvey Ave & North Ave',
  'Public Rack - Harvey Ave & North Ave'],
 '569': ['Woodlawn Ave & 75th St', 'Public Rack - Menard Ave & Grand Ave'],
 '570': ['Evans Ave & 75th St', 'Public Rack - McVicker Ave & Grand Ave'],
 '571': ['Vernon Ave & 75th St',
  'Public Rack - Austin Blvd & North Ave',
  'Austin Blvd & North Ave'],
 '572': ['Hiawatha Park', 'State St & 76th St'],
 '575': ['Cottage Grove Ave & 78th St', 'Pittsburgh Ave & Irving Park'],
 '576': ['Plainfield Ave & Irving Park Rd', 'Greenwood Ave & 79th St'],
 '577': ['Stony Island Ave & South Chicago Ave', 'Ozark Ave & Addison St'],
 '579': ['Phillips Ave & 79th St',
  'Oketo Ave & Belmont Ave',
  'Public Rack - Oketo Ave & Belmont Ave'],
 '580': ['Exchange Ave & 79th St', 'Public Rack - Ellis Ave & Doty Ave'],
 '586': ['MLK Jr Dr & 83rd St', 'Public Rack - Stewart Ave & 123rd St'],
 '593': ['Halsted St & 59th St', 'Public Rack - Wallace St & 112 St'],
 '595': ['Wabash Ave & 87th St', 'Public Rack - Michigan Ave & 113th St'],
 '596': ['Benson Ave & Church St', 'Cottage Grove Ave & 111th St'],
 '599': ['Public Rack - Avenue J & 112th St',
  'Valli Produce - Evanston Plaza'],
 '600': ['Dodge Ave & Church St', 'Ewing Ave & 112th St'],
 '604': ['Sheridan Rd & Noyes St (NU)', 'Wentworth Ave & 103rd St'],
 '605': ['University Library (NU)',
  'Public Rack - Parnell Ave & 103rd St',
  'Parnell Ave & 103rd St'],
 '621': ['Public Rack - Lafayette Ave & 95th St', 'Lafayette Ave & 95th St'],
 '623': ['Michigan Ave & 8th St', 'Halsted St & 102nd St'],
 '631': ['Malcolm X College Vaccination Site', 'Malcolm X College'],
 '636': ['Orleans St & Hubbard St', 'Ewing Ave & 101st St'],
 '639': ['Lakefront Trail & Wilson Ave', 'Public Rack - Ewing Ave & 99th St'],
 '641': ['Public Rack - Loomis St & 87th St', 'Loomis St & 87th St'],
 '642': ['Latrobe Ave & Chicago Ave', 'Justine St & 87th St'],
 '644': ['Western Ave & Fillmore St', 'Wabash Ave & 87th St'],
 '646': ['State St & 54th St', 'Cottage Grove Ave & 87th St'],
 '647': ['Elizabeth St & 59th St', 'Public Rack - Burnside Academy'],
 '649': ['Stewart Ave & 63rd St', 'Public Rack - Cottage Grove Ave & 92nd St'],
 '650': ['Eggleston Ave & 69th St', 'Houston Ave & 91st St'],
 '651': ['Michigan Ave & 71st St', 'Commercial Ave & 89th St'],
 '652': ['Rhodes Ave & 71st St', 'Muskegon Ave & 89th St'],
 '662': ['Dodge Ave & Mulford St', 'Cottage Grove & 86th St'],
 '663': ['Cottage Grove & 85th St', 'Public Rack - Cottage Grove & 85th St'],
 '682': ['111th St - Morgan Park Metra',
  'Public Rack - 111th St - Morgan Park Metra'],
 '684': ['Public Rack - Mt Greenwood Library N',
  'Mt Greenwood Library - North'],
 '690': ['Western Ave & 106th St - East',
  'Public Rack - Western Ave & 106th St - East'],
 '691': ['Public Rack - Western Ave & 105th St', 'Western Ave & 105th St'],
 '692': ['Public Rack - Western Ave & 104th St - East',
  'Western Ave & 104th St - East'],
 '693': ['Public Rack - Walden Pkwy & 103rd St', 'Walden Pkwy & 103rd St'],
 '694': ['Wood St & 103rd St', 'Public Rack - Wood St & 103rd St'],
 '695': ['Western Ave & 100th St', 'Public Rack - Western Ave & 100th St'],
 '699': ['Cottage Grove Ave & 98th St',
  'Public Rack - Cottage Grove Ave & 98th St'],
 '702': ['Western Ave & 92nd Pl', 'Public Rack - Western Ave & 92nd Pl'],
 '710': ['Public Rack - Lafayette Ave & 87th St - NW',
  'Lafayette Ave & 87th St - NW'],
 '722': ['Public Rack - Racine Ave & 74th St', 'Racine Ave & 74th St'],
 '736': ['Jeffrey Blvd & 71st St', 'Public Rack - Jeffrey Blvd & 71st St'],
 '744': ['Public Rack - Halsted St & 64th St', 'Halsted St & 64th St'],
 '749': ['Evans Ave & 63rd St', 'Public Rack - Evans Ave & 63rd St'],
 '751': ['Kimbark Ave & 67th St', 'Public Rack - Kimbark Ave & 67th St'],
 '752': ['Public Rack - Kimbark Ave & 63rd St', 'Kimbark Ave & 63rd St'],
 '753': ['Public Rack - Jeffery Blvd & 67th St', 'Jeffery Blvd & 67th St'],
 '755': ['Kedzie Ave & 64th St - SE',
  'Public Rack - Kedzie Ave & 64th St - SE'],
 '757': ['Kedzie Ave & 63rd St', 'Public Rack - Kedzie Ave & 63rd St'],
 '760': ['Public Rack - Kedzie Ave & 64th St - SW',
  'Kedzie Ave & 64th St - SW'],
 '766': ['Harold Washington Park', 'Public Rack - Harold Washington Park'],
 '767': ['Hyde Park Blvd & 53rd St', 'Public Rack - Hyde Park Blvd & 53rd St'],
 '768': ['Hyde Park Blvd & 55th St', 'Public Rack - Hyde Park Blvd & 55th St'],
 '772': ['Kedzie Ave & 61st Pl', 'Public Rack - Kedzie Ave & 61st Pl E'],
 '775': ['Public Rack - Kedzie Ave & 58th St', 'Kedzie Ave & 58th St'],
 '776': ['Komensky Ave & 59th St', 'Public Rack - Komensky Ave & 59th St'],
 '777': ['Midway Orange Line', 'Public Rack - Midway Orange Line'],
 '798': ['Public Rack - Menard Ave & Agusta Blvd', 'Menard Ave & Agusta Blvd'],
 '800': ['Public Rack - Harriet E Sayre Public School',
  'Harriet E Sayre Public School'],
 '805': ['Neva Ave & Grand Ave', 'Public Rack - Neva Ave & Grand Ave'],
 '810': ['Nagle Ave & Belmont Ave', 'Public Rack - Nagle Ave & Belmont Ave'],
 '813': ['Calumet Ave & 51st St', 'Public Rack - Calumet Ave & 51st St'],
 '814': ['Public Rack - Prairie Ave & 47th St ',
  'Prairie Ave & 47th St - midblock'],
 '819': ['Robert Fulton Elementary School',
  'Public Rack - Robert Fulton Elementary School'],
 '821': ['Public Rack - Western Blvd & 49th St', 'Western Blvd & 49th St'],
 '822': ['Talman Ave & 51st St - midblock',
  'Public Rack - Talman Ave & 51st St'],
 '823': ['Kedzie Ave & 54th St - SE',
  'Public Rack - Kedzie Ave & 54th St - SE'],
 '824': ['Public Rack - Avers Ave & Archer Ave', 'Avers Ave & Archer Ave'],
 '825': ['Kedzie Ave & 54th St - SW',
  'Public Rack - Kedzie Ave & 54th St - SW'],
 '829': ['Public Rack - Pulaski Rd & 51st Rd', 'Pulaski Rd & 51st Rd'],
 '830': ['Public Rack - Pulaski & 52nd', 'Pulaski & 52nd'],
 '831': ['Public Rack - Kolin Ave & Archer Ave', 'Kolin Ave & Archer Ave'],
 '832': ['Public Rack - Christiana Ave & Archer Ave',
  'Christiana Ave & Archer Ave'],
 '833': ['Pulaski Rd & 44th St', 'Public Rack - Pulaski Rd & 44th St'],
 '835': ['Pubic Rack - Pulaski Rd & 41st', 'Pulaski Rd & 41st'],
 '836': ['Public Rack - Kedzie Ave & Archer Ave', 'Kedzie Ave & Archer Ave'],
 '838': ['Public Rack - Piotrowski Park', 'Piotrowski Park'],
 '840': ['Marshfield Ave & 45th St', 'Public Rack - Marshfield Ave & 45th St'],
 '841': ['Damen Ave & 47th St', 'Public Rack - Damen Ave & 47th St'],
 '847': ['Brandon Ave & 91st St', 'Public Rack - Brandon Ave & 91st St'],
 '855': ['Public Rack - Washtenaw Ave & Superior St',
  'Washtenaw Ave & Superior St'],
 '857': ['Sawyer Ave & Bryn Mawr Ave - SE',
  'Public Rack - Sawyer Ave & Bryn Mawr Ave - SE'],
 '859': ['Public Rack - Spaulding Ave & Foster Ave',
  'Spaulding Ave & Foster Ave'],
 '860': ['Public Rack - Christiana Ave & Lawrence Ave',
  'Christiana Ave & Lawrence Ave'],
 '861': ['Sawyer Ave & Lawrence Ave',
  'Public Rack - Sawyer Ave & Lawrence Ave'],
 '864': ['Kedvale Ave & Addison St', 'Public Rack - Kedvale Ave & Addison St'],
 '866': ['Public Rack - Kostner Ave & Armitage Ave',
  'Kostner Ave & Armitage Ave'],
 '877': ['Public Rack - Racine Ave & 109th Pl', 'Racine Ave & 109th Pl'],
 '883': ['Public Rack - East End Ave & 87th St', 'East End Ave & 87th St'],
 '900': ['Public Rack - Western Ave & 118th St', 'Western Ave & 118th St'],
 '902': ['Hoyne Ave & 110th Pl', 'Public Rack - Hoyne Ave & 110th Pl'],
 '913': ['532 E 43rd St', 'Public Rack - 532 E 43rd St'],
 '916': ['Wood St & 47th St', 'Public Rack - Wood St & 47th St'],
 '919': ['Public Rack - Pullman - Walmart', 'Pullman - Walmart'],
 '951': ['Public Rack - Woodlawn Ave & 63rd St - NE',
  'Public Rack - Woodlawn Ave & 63rd St N'],
 '954': ['Public Rack - Prairie Ave & Garfield Blvd',
  'Public Rack - Prairie Ave & Garfield Blvd N'],
 '99999': ['No station',
  'Elizabeth St & Randolph St',
  'Stony Island Ave & 63rd St'],
 'Hubbard Bike-checking (LBS-WH-TEST)': ['Base - 2132 W Hubbard',
  'Base - 2132 W Hubbard Warehouse'],
 'KA1503000055': ['Halsted & 63rd - Kennedy-King Vaccination Site',
  'Halsted St & 63rd St'],
 'KA1504000168': ['Western & 28th - Velasquez Institute Vaccination Site',
  'Western Ave & 28th St'],
 'TA1306000015': ['Sangamon St & Lake St', 'Morgan St & Lake St'],
 'TA1306000026': ['Racine Ave & Fullerton Ave',
  'Racine Ave & Fullerton Ave (Temp)'],
 'TA1307000138': ['Lincoln Ave & Roscoe St', 'Wood St & Webster Ave'],
 'TA1309000042': ['Lincoln Ave & Belmont Ave (Temp)',
  'Lincoln Ave & Belmont Ave']}

Many id's do refer to different station names, but many of them have a version with "Public Rack - " or with " (Temp)" in the name and a version without. 

The next lines fix this so that the data is a bit more homogenous and the analisys more reliable.

In [228]:
# remove 'Public Rack - ' and ' (Temp)' from station names.

rides_complete["start_name"] = (
    rides_complete["start_name"]
    .str.replace("Public Rack - ", "")
    .str.replace(" (Temp)", "")
)

rides_complete["end_name"] = (
    rides_complete["end_name"]
    .str.replace("Public Rack - ", "")
    .str.replace(" (Temp)", "")
)

C:\Users\Juan\AppData\Local\Temp/ipykernel_14868/1033773167.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  rides_complete["start_name"]
C:\Users\Juan\AppData\Local\Temp/ipykernel_14868/1033773167.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  rides_complete["end_name"]

And Lets see how many station names we are left with.

In [229]:
rides_complete[["start_name", "start_id", "end_name", "end_id"]].nunique().to_frame()

               0
start_name  1407
start_id    1315
end_name    1407
end_id      1319

Its a little bit better, there still are a lot more station names and ids than there should be, but at least the mapping is closer to being 1 to 1. The following does the same but the other way around: shows station names that point to multiple id's.

In [230]:
repeated_names = not_unique("start_name", "start_id", 0.2)
len(repeated_names)

21

In [231]:
repeated_names

{'Ashland Ave & 63rd St': ['16948', '996'],
 'California Ave & Cortez St': ['17660', '512'],
 'Calumet Ave & 51st St': ['15470', '813'],
 'Central Park Ave & Ogden Ave': ['15685', '532'],
 'Christiana Ave & Lawrence Ave': ['860', '15615'],
 'Clyde Ave & 87th St': ['20230', '986'],
 'East End Ave & 87th St': ['20231', '883'],
 'Eberhart Ave & 61st St': ['KA1503000033', '955'],
 'Eggleston Ave & 92nd St': ['20118', '707'],
 'Ewing Ave & 106th St': ['980', '612'],
 'Halsted St & 111th St': ['20127', '875'],
 'Halsted St & 63rd St': ['745', 'KA1503000055'],
 'Jeffery Blvd & 67th St': ['KA1503000030', '753'],
 'Kedzie Ave & Chicago Ave': ['KA1504000114', '1055'],
 'Kostner Ave & Wrightwood Ave': ['321', '1018'],
 'Lake Park Ave & 47th St': ['TA1308000035', '812'],
 'Lawndale Ave & 111th St': ['20203', '893'],
 'Prairie Ave & Garfield Blvd': ['TA1307000160', '906', '954'],
 'Pulaski Rd & Lake St': ['528', '1013'],
 'South Shore Dr & 71st St': ['KA1503000002', '948'],
 'Wabash Ave & 87th St': ['595', '644']}

In [232]:
del repeated_ids, repeated_names

There are no obvious patterns here, but the good thing is that the problem is a lot less severe in this direction: there are many id's that point to multiple station names but few names pointing to multiple ids. 

Maybe an explanation for all of this is that the stations changed names/id's at some point? Let's investigate how many unique station names/id's are there per month to check this hypothesis. 

For this purpose, it will be easiest to convert the dates into datetime objects and then get the year and month, but first it is necessary to verify the date format is consistent throughout the data. The next lists show the dates that do not start with either the year 2022 or 2023. Since they are both empty it is safe to say that the format is consistent.

In [233]:
[date for date in rides_complete["start_time"] if date[:4] not in ["2022", "2023"]]

[]

In [234]:
[date for date in rides_complete["end_time"] if date[:4] not in ["2022", "2023"]]

[]

Next the dates are typecasted as datetime objects and the the year, month and time of day extracted since it might be interesting to study the hourly usage of the bikes in the analysis phase.

In [235]:
# Convert start and end times from string to datetime

rides_complete["start_time"] = pd.to_datetime(
    rides_complete["start_time"], format="%Y-%m-%d %H:%M:%S"
)

rides_complete["end_time"] = pd.to_datetime(
    rides_complete["end_time"], format="%Y-%m-%d %H:%M:%S"
)

In [236]:
# Extract year, month and time of day (hour) from the start time for the ride.

rides_complete = rides_complete.assign(year=rides_complete["start_time"].dt.year)
rides_complete = rides_complete.assign(month=rides_complete["start_time"].dt.month)
rides_complete = rides_complete.assign(time_of_day=rides_complete["start_time"].dt.hour)

And since it would be more comfortable to see the months with their names, and to keep them ordered, we can make a mapping and enforce a chronological order into it.

In [237]:
months = {
    1: "Jan",
    2: "Feb",
    3: "Mar",
    4: "Apr",
    5: "May",
    6: "Jun",
    7: "Jul",
    8: "Aug",
    9: "Sep",
    10: "Oct",
    11: "Nov",
    12: "Dec",
}

month_order = [
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
    "Jan",
    "Feb",
]

# imposes a categorical order to the names of each month.
rides_complete["month"] = (
    rides_complete["month"]
    .map(months)
    .astype(pd.api.types.CategoricalDtype(categories=month_order, ordered=True))
)

The following table shows how many unique station names and id's are found per month for the last 12 months.

In [238]:
rides_complete.groupby("month")[
    ["start_name", "start_id", "end_name", "end_id"]
].nunique()

       start_name  start_id  end_name  end_id
month
Mar           844       844       835     835
Apr           840       840       838     837
May          1086      1051      1092    1055
Jun          1149      1116      1162    1128
Jul          1192      1148      1204    1162
Aug          1229      1191      1217    1185
Sep          1172      1131      1177    1136
Oct          1091      1069      1099    1071
Nov          1051      1037      1059    1041
Dec           997       980       981     967
Jan           960       944       961     943
Feb           969       955       961     950

The number of stations is not accurate nor consistent on any of these fields, since the number of stations is in reality around 600, which is half to 3/4 of the monthly reported stations on the data. To homogenize things a little bit, we proceed to make the mapping of station names to id's one to one (or at least as much as possible). After some testing it was found that the most effective way of doing it is to start reducing the number of names and continue with the ids.

In [252]:
def id_name_map(df, field1, field2):
    '''This function makes the relation between field1 and field2 values a surjective one. 
    This means that each field1 value will map to a single value in field2. Applying this 
    function twice, once from field1 to field2 and the sencond time from field2 to field1
    will make the mapping one to one.'''
    
    # selects the first field2 value appearing in the data for each unique field1 value
    val_to_keep = df.groupby(field1)[field2].apply(lambda x: x.iloc[0])

    # returns the selected field2 value for each unique field 1 value.
    # after this all field1 value will point to one unique field 2 value
    return df[field1].apply(lambda x: val_to_keep[x])

In [246]:
# This makes the start stations names and ids one to one.

rides_complete['start_name'] = id_name_map(rides_complete, 'start_id', 'start_name')
rides_complete['start_id'] = id_name_map(rides_complete, 'start_name', 'start_id')

In [248]:
# and this is for the end stations

rides_complete['end_name'] = id_name_map(rides_complete, 'end_id', 'end_name')
rides_complete['end_id'] = id_name_map(rides_complete, 'end_name', 'end_id')

After this we at least have some consistency: the number of names and id's for start/end stations is the same within each month.

In [253]:
rides_complete.groupby("month")[
    ["start_name", "start_id", "end_name", "end_id"]
].nunique()

       start_name  start_id  end_name  end_id
month
Mar           844       844       835     835
Apr           840       840       837     837
May          1043      1043      1047    1047
Jun          1101      1101      1111    1111
Jul          1133      1133      1146    1146
Aug          1172      1172      1163    1163
Sep          1116      1116      1118    1118
Oct          1059      1059      1061    1061
Nov          1025      1025      1029    1029
Dec           974       974       960     960
Jan           941       941       941     941
Feb           952       952       945     945

And the total number of names and ids for start and end stations are almost exactly the same.

In [ ]:
rides_complete[["start_name", "end_name", "start_id", "end_id"]].nunique()

In [ ]:
rides_homogenized = rides_complete.copy()

There still are a lot more stations than there should be but at least now the relation of station names to id's is (almost) 1 to 1 and they are standardized for start and end stations.


Next, there are multiple sets of coordinates for each station, differing only by a small amount between them, as can be seen below for one single station having over 5000 values for its latitude.

In [ ]:
rides_homogenized[["start_lat", "start_lng", "end_lat", "end_lng"]].nunique()

In [ ]:
rides_homogenized[rides_homogenized["start_name"] == "State St & Kinzie St"][
    "start_lat"
].nunique()

In [ ]:
rides_homogenized[rides_homogenized["start_id"] == "13042"]["start_lat"].head(5)

Before we implement any solution it might be a good idea to address the issue with the end station coordinate ranges.

In [ ]:
rides_homogenized[["start_lat", "start_lng", "end_lat", "end_lng"]].agg(
    ["max", "min"]
).transpose()

The ranges shoud be roughly the same but for some reason it is very different for the end stations. The coordinate range shown above accounts for roughly 1/16th of the Earth's surface area, so there is something fishy going on. 

After checking the data with trips ending in coordinates outside the range for the start stations we find that there is a minimal amount of rides that fall outside that range, and their coordinates all have a value of 0.0, 0.0. Also, all of them ended at Green St & Madison Ave* station.

In [ ]:
rides_homogenized[
    (rides_homogenized["end_lat"] < 40) | (rides_homogenized["end_lng"] > -87)
]

It is easy to confirm that this is not the case for all records of that station; there are other instances where the coordinates do fall within the range, so we can use any of those as a replacement.

In [ ]:
rides_homogenized[rides_homogenized["end_name"] == "Green St & Madison Ave*"].head(2)

In [ ]:
rides_homogenized.loc[rides_homogenized["end_lat"] < 40, "end_lat"] = 41.881827
rides_homogenized.loc[rides_homogenized["end_lng"] > -86.5, "end_lng"] = -87.648832

With this we are left with a more sensible range of coordinates for all stations.

In [ ]:
rides_homogenized[["start_lat", "start_lng", "end_lat", "end_lng"]].agg(
    ["min", "max"]
).transpose()

Now that this has been taken care of, one posible solution to the issue of the multiple sets of coordinates per station is to use the average of each stations coordinates to figure out the average coordinate "distance" between them. This will allow us to determine at which decimal point could we round up the coordinates without mixing up different stations.

In [ ]:
rides_coords = (
    rides_homogenized[rides_homogenized["start_name"] != "No station"]
    .groupby("start_name")[["start_lat", "start_lng"]]
    .mean()
    .rename(columns={"start_lat": "lat", "start_lng": "lng"})
)

In [ ]:
rides_coords.sort_values("lat")["lat"].diff().mean()

In [ ]:
rides_coords.sort_values("lng")["lng"].diff().mean()

In [ ]:
del rides_coords

From these results it looks like the 5th decimal point would give a good amount of precision to differentiate stations, while elimination many of the small vatiations within each station.

In [ ]:
for coord in ["start_lat", "start_lng"]:
    rides_homogenized[coord] = round(rides_homogenized[coord], 5)

for coord in ["end_lat", "end_lng"]:
    rides_homogenized[coord] = round(rides_homogenized[coord], 5)

And here it is again the number of unique values for each field after these modifications.

In [ ]:
rides_homogenized[
    [
        "start_name",
        "end_name",
        "start_id",
        "end_id",
        "start_lat",
        "end_lat",
        "start_lng",
        "end_lng",
    ]
].nunique()

It is by no means perfect, but it will be good enough for analysis. Some further study on the actual stations, their current names and ids as well as their locations, could help make the data more congruent with real life.

In [ ]:
rides_clean = rides_homogenized.copy()

# Feature Engineering <a name="feature"></a>

There are a couple fields that might be useful to have, such as the pure date for each trip, the day of week when it happened and the distance travelled. The next subsections are dedicated to these fields. 

## Date <a name="date"></a>

We already have a datetime object from which we can extract the date.

In [ ]:
rides_clean["date"] = rides_clean["start_time"].apply(lambda x: x.date())

## Duration <a name="duration"></a>

In short, how much time passed from the moment the ride started to the moment it ended.

In [ ]:
rides_clean["duration"] = rides_clean["end_time"] - rides_clean["start_time"]

For consistency we check for any negative durations, since they don't really make sense in this scenario, as well as really long ones. The following lines show that there was a 23 day ride and, more importantly, there is in fact at least one trip with a negative duration.

In [ ]:
rides_clean["duration"].max()

In [ ]:
rides_clean["duration"].min()

Since there is at least one acount of a trip with a negative duration, it is worth studying if this is an extended issue or if it is just a few exceptions. The percentage of trips that have a negative duration is

In [ ]:
len(rides_clean[rides_clean["duration"] < timedelta(seconds=0)]) / len(
    rides_clean
) * 100

Since the percentage is minimal, we can safely discard these records. Also, the bike sharing website sugests that the data should be purged of rows with a duration of less than 60 seconds, since those could be fake starts or servicing tasks made by the staff. The next line of code removes both cases at once.

In [ ]:
rides_clean = rides_clean[rides_clean["duration"] >= timedelta(seconds=60)]

And for visualization purposes the duration as an int field might make things easier, so the next line calculates the duration of the ride in minutes.

In [ ]:
rides_clean["minutes"] = rides_clean["duration"].apply(
    lambda x: round(x.total_seconds() / 60, 1)
)

## Day of Week <a name="dow"></a>

Different types of users might use the bikes on different days of the week. To test this we will need to know the day of the week for each trip. The date for the beginning of the trip is used.

In [ ]:
days = {
    0: "Monday",
    1: "Tuesday",
    2: "Wednesday",
    3: "Thursday",
    4: "Friday",
    5: "Saturday",
    6: "Sunday",
}
days_order = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday",
]

In [ ]:
rides_clean["day_of_week"] = (
    rides_clean["start_time"]
    .map(lambda x: x.weekday())
    .map(days)
    .astype(pd.api.types.CategoricalDtype(categories=days_order, ordered=True))
)

## Distance Travelled <a name="distance"></a>

The distance from start to end station can be found using pythagoras theorem,  but to convert from latitudes and longitudes to meters or km it requires an additional step. 

### Latitude
The north-south location is determined by its latitude, which is meassured from the equator, from 0° to $\pm$90°. 
The vertical distance, $d_{lat}$, approximating the Earth as a perfect sphere, is given by Earth's radius, $R\approx 6371 km$, and by the difference in latitude, $\Delta\phi$, measured in radians, that is

<p style="text-align: center;"> $d_{lat} = R\Delta\phi \frac{\pi}{180}$ </p>

It comes down to arround 111.195 km per degree of latitude.

### Longitude
For longitude - that is, the east-west location - it is a little bit trickier: since the distance between each longitude line decreases as you approach the poles, there is an additional factor. An easy way to understand it is that it is basically the same as for latitude, we are after all meassuring an arc length, but the radius of the circle is smaller. It is smaller, in fact, by a factor of $cos(\phi)$. So, if $\theta$ is is the longitude, then the distance between two given longitudes is

<p style="text-align: center;"> $d_{lng} = R\Delta\theta cos(\phi) \frac{\pi}{180}$ </p>

Which, again, can be simplified to 111.195$cos(\phi)$ km per degree of longitude.

The distance $d$ travelled, then, is approximately

<p style="text-align: center;"> $d\approx \sqrt{d_{lat}^2+d_{lng}^2}$ </p>

and it is valid for short distances, where we can neglect the curvature of the earth. Distances within a city certainly meet this criteria.

So lets define some functions to make this a bit cleaner.

In [ ]:
def lat_distance(df):
    return (111.195 * (df["end_lat"] - df["start_lat"])) ** 2


def lng_distance(df):
    cos = np.cos(df["start_lat"])
    return (111.195 * cos * (df["end_lng"] - df["start_lng"])) ** 2


def coord_distance(df):
    distance_squared = lat_distance(df) + lng_distance(df)
    return np.sqrt(distance_squared)

also, we only need the precission to go as far as meters, so the distance is rounded to 2 decimal places.

In [ ]:
rides_clean["distance"] = round(coord_distance(rides_clean), 2)
rides_clean.sample(2)

Looks good. For a quick verification we get the range of distances traveled. It goes from 0 km, for trips that ended right where they started, to 36.03 km, which is a reasonable distance to ride in a few hours.

In [ ]:
rides_clean["distance"].agg(["min", "max"])

## Speed <a name="speed"></a>

It might be interesting to check if there are differences between the average speeds of members vs casual users. The average speed of each trip is given by the total distance traveled divided by the duration of the trip. Since the data has been purged from trips with a duration of less than a minute, there is no danger of dividing by zero.

In [ ]:
rides_clean.loc[rides_clean["minutes"] > 0, "speed"] = round(
    60 * rides_clean["distance"] / rides_clean["minutes"], 2
)

In [ ]:
rides_with_features = rides_clean.copy()

# Outliers <a name="outliers"></a>

There is a 23 day trip in the data. This is enough evidence to sugest there may be some outliers lying arround. 

### duration, speed and distance <a name="dynamics"></a>

The next tables show some descrptive summary statistics for duration in minutes, distance traveled and speed.

We see that the mean duration is considerably far appart from its median, sugesting there data for this field is highly skewed to the right. This is further verified by the really high standard deviation. Speed is better, but still has a somewhat large standard deviation. The plots below clarify a bit what is the situation with the speeds. For the distance, again, the difference between the mean and the median is considerable, and the standard deviation somewhat large, but nothing huge. 

The main concern here is then the duration, although all three fields need a closer look.

In [ ]:
rides_with_features[["minutes", "speed", "distance"]].agg(["mean", "median", "std"])

The next plots show, for the same three variables, its interquartile ranges, with the boxplots, as well as the overall distribution of their values, shown in the histograms. 

It is immediately noticeable that all 3 variables have numerous and significant outliers, the most dramatic being the duration. A close up for each plot shows the main body of the data.

In [ ]:
fig, ax = plt.subplots(3, 2)

fig.set_figwidth(12)
fig.set_figheight(10)

sns.boxplot(ax=ax[0, 0], data=rides_with_features["minutes"])
ax2 = plt.axes([0.17, 0.71, 0.1, 0.12])
sns.boxplot(
    ax=ax2, data=rides_with_features[rides_with_features["minutes"] < 120]["minutes"]
)
ax2.set_ylim(0, 120)
ax[0, 0].set_ylabel("Duration", size=15)

sns.histplot(ax=ax[0, 1], data=rides_with_features["minutes"], bins=50)
ax2 = plt.axes([0.69, 0.72, 0.15, 0.12])
sns.histplot(
    ax=ax2,
    data=rides_with_features[rides_with_features["minutes"] < 120]["minutes"],
    bins=50,
)
ax2.set_xlim(0, 120)

sns.boxplot(ax=ax[1, 0], data=rides_with_features["speed"])
ax2 = plt.axes([0.17, 0.46, 0.1, 0.12])
sns.boxplot(
    ax=ax2, data=rides_with_features[rides_with_features["speed"] < 40]["speed"]
)
ax2.set_ylim(0, 40)
ax[1, 0].set_ylabel("Speed", size=15)

sns.histplot(ax=ax[1, 1], data=rides_with_features["speed"], bins=50)
ax2 = plt.axes([0.69, 0.46, 0.15, 0.12])
sns.histplot(
    ax=ax2,
    data=rides_with_features[rides_with_features["speed"] < 40]["speed"],
    bins=50,
)
ax2.set_xlim(0, 40)

sns.boxplot(ax=ax[2, 0], data=rides_with_features["distance"])
ax2 = plt.axes([0.17, 0.18, 0.1, 0.12])
sns.boxplot(
    ax=ax2, data=rides_with_features[rides_with_features["distance"] < 40]["distance"]
)
ax2.set_ylim(0, 10)
ax[2, 0].set_ylabel("Distance", size=15)

sns.histplot(ax=ax[2, 1], data=rides_with_features["distance"], bins=50)
ax2 = plt.axes([0.68, 0.18, 0.15, 0.12])
sns.histplot(
    ax=ax2,
    data=rides_with_features[rides_with_features["distance"] < 40]["distance"],
    bins=50,
)
ax2.set_xlim(0, 15)

Since we are interested in the majority of users, we can trim the data to avoid outliers. The code below shows that by keeping the records that lie within 3 standard deviations of the mean for duration and speed and trips with a length of less than 10 km we are throwing out at most 1.638% of the data.

In [ ]:
mins = len(rides_with_features[rides_with_features["minutes"] > 120])
speed = len(rides_with_features[rides_with_features["speed"] > 24])
dist = len(rides_with_features[rides_with_features["distance"] > 10])

100 * (mins + speed + dist) / len(rides_with_features)

So lets proceed with filtering out those records (I didn't use exacly 3 standard deviations since part of the tails of the histograms were high enough to stil be statistically significant. For the duration variable it was the opposite, so I used less than 3 std)

In [ ]:
rides_filtered = rides_with_features[rides_with_features["minutes"] <= 100]
rides_filtered = rides_filtered[rides_filtered["speed"] <= 30]
rides_filtered = rides_filtered[rides_filtered["distance"] <= 10]

In [ ]:
fig, ax = plt.subplots(3, 2)

fig.set_figwidth(12)
fig.set_figheight(10)

sns.boxplot(ax=ax[0, 0], data=rides_filtered, x="minutes")
ax[0, 0].set_ylabel("Duration", size=15)

sns.histplot(ax=ax[0, 1], data=rides_filtered["minutes"], bins=50)

sns.boxplot(ax=ax[1, 0], data=rides_filtered, x="speed")
ax[1, 0].set_ylabel("Speed", size=15)

sns.histplot(ax=ax[1, 1], data=rides_filtered["speed"], bins=50)

sns.boxplot(ax=ax[2, 0], data=rides_filtered, x="distance")
ax[2, 0].set_ylabel("Distance", size=15)

sns.histplot(ax=ax[2, 1], data=rides_filtered["distance"], bins=50)

### Start station coordinates <a name="start_coords"></a>

In [ ]:
rides_filtered[["start_lat", "start_lng"]].agg(["mean", "median", "std", "min", "max"])

In [ ]:
fig, ax = plt.subplots(2, 2)

fig.set_figwidth(10)
fig.set_figheight(10)

sns.boxplot(ax=ax[0, 0], data=rides_filtered["start_lat"])
sns.histplot(ax=ax[0, 1], data=rides_filtered, y="start_lat", bins=50)
ax[0, 1].set_ylim(41.5, 42.3)
ax[0, 0].set_ylabel("Start Latitude", size=14)

sns.boxplot(ax=ax[1, 0], data=rides_filtered, x="start_lng")
sns.histplot(ax=ax[1, 1], data=rides_filtered["start_lng"], bins=50)
ax[1, 1].set_xlim(-87.9, -87.5)
ax[1, 0].set_ylabel("Start Longitude", size=14)

### End station coordinates <a name="end_coords"></a>

In [ ]:
rides_filtered[["end_lat", "end_lng"]].agg(["mean", "median", "std", "min", "max"])

In [ ]:
fig, ax = plt.subplots(2, 2)

fig.set_figwidth(10)
fig.set_figheight(10)

sns.boxplot(ax=ax[0, 0], data=rides_filtered["end_lat"])
sns.histplot(ax=ax[0, 1], data=rides_filtered, y="end_lat", bins=50)
ax[0, 1].set_ylim(41.5, 42.3)
ax[0, 0].set_ylabel("End Latitude", size=14)

sns.boxplot(ax=ax[1, 0], data=rides_filtered, x="end_lng")
sns.histplot(ax=ax[1, 1], data=rides_filtered["end_lng"], bins=50)
ax[1, 1].set_xlim(-87.9, -87.5)
ax[1, 0].set_ylabel("End Longitude", size=14)

The range for the end station coordinates is larger than that of the start station's, and there are more evident outliers, especially for the longitude. To keep things simple we can restrict the range of coordinates to be that of the start stations.

In [ ]:
min_lat = rides_filtered["start_lat"].min()
max_lat = rides_filtered["start_lat"].max()
min_lng = rides_filtered["start_lng"].min()
max_lng = rides_filtered["start_lng"].max()

rides_filtered = rides_filtered[
    (rides_filtered["end_lat"] >= min_lat) & (rides_filtered["end_lat"] <= max_lat)
]
rides_filtered = rides_filtered[
    (rides_filtered["end_lng"] >= min_lng) & (rides_filtered["end_lng"] <= max_lng)
]

In [ ]:
rides_filtered[["end_lat", "end_lng"]].agg(["mean", "median", "std", "min", "max"])

# Verification <a name="verification"></a>

Now that we have a final cleaned version of the data it is a good time to verify that there are no missing values and that the number of unique values for each field and the ranges for the numeric variables make sense.

In [ ]:
rides_filtered.isnull().sum().sum()

In [ ]:
rides_filtered.nunique()

In [ ]:
rides_filtered.describe()

Now everything is filtered and a bit more consistent, although there are some instances of people biking at more than 200 km/h. This is definitely something to look at later. 

For now, to clear up things a bit we can delete all versions of the dataframe that wont be used anymore, and reinstate the original name.

In [ ]:
rides = rides_filtered.copy()
del rides_filtered, rides_homogenized, rides_with_features, rides_clean, rides_complete

And, finally, we need to save the data for analysis.

In [ ]:
rides.to_csv("../data/cleaned/rides.csv", index=False)

In total we lost %3.900 of the data during cleaning. Not too bad.

In [ ]:
(all_data.shape[0] - rides.shape[0]) / all_data.shape[0] * 100